*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: gold;
}
header {
    background-color: black;
    color: gold;
    display: flex;
    
    flex-direction: column;
}
.imgnav {
    height: 80px;
}
.ImgLogoNav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.Menu {
    background-color: rgb(53, 47, 47);
    display: flex;
    justify-content: center;
    
}
.menunav{
    display: flex;
   
   
}
.itemnav {
    padding: 10px;
    margin-right: 20px;
}

.botonLI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 100px;
} 
.iconologin{
    font-size: 1.5rem;
}
/* Contenido */

main {
    background-color: #4d4d4d;
    color: gold;
}
.ImgPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner {
    width: 90%;

}
.frasemot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 40px 80px;
}
.Logofrase {
    width: 80%;
}
.frasemotiva {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 80px;
}
.beastpicks {
    text-align: center;
    padding-bottom: 50px;
    font-size: 3rem;
}
.titulosmapas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 27px;
    padding-left: 20px;
}
.imggenerales {
    height: 50px;
}
.h3generales {
    padding-left: 10px;
}
.mapas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
} 
.img70 {
    width: 70%;
    padding: 50px;
}
.beastplayers {
    text-align: center;
}
.beastplayers2 {
    font-size: 3rem;
    padding: 40px;
}
.imgmvp {
    width: 100%;
}
.contenedorform, .contenedorformlogin{
    display: flex;
    justify-content: center;

}
.formulario, .formulariologin {
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: 5px solid black;
    border-radius: 20px;
    width: 50%;
    margin: 50px;
    padding: 30px 100px;
}
.contacto, .login {
    font-size: 3rem;
    text-align: center;

}
.textoform, .textologin{
    font-size: 1.5rem;
    margin: 10px 0;
}
.inputform, .inputlogin{
    padding: 5px;
}
textarea{
    resize: none;
    padding: 5px;
}
.botonera{
    display: flex;
}
.btnform, .btnlogin{
    width: 50%;
    padding: 10px 5px;
    margin: 5px 0;
}
.btnsubmit{
    margin-right: 5px;
    color: gold;
    background-color: black;
}
.btnreset{
    margin-left: 5px;
}
footer {
    background-color: gold;
}
.thefooter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 100px;
    
    
}
.pfooter {
    text-align: center;
    color:gold;
    background-color: black;
    padding: 5px 0;
    font-size: 1.2rem;
}

.botonLI:hover {
    background-color: gold;
}
.h4footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.iconosfooter{
    font-size: 100px;
    margin-bottom: 15px;
}
















